
<div class="contact">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>CONTACT US</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="info">
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aspernatur dolore pariatur iusto sequi cum nostrum incidunt explicabo error repellendus fuga, fugit doloribus obcaecati voluptates amet praesentium itaque deleniti quis.
            <span>Proin rhouns hendre urna vel iaculis. Mauris nec rhouns turpis</span>
          </p><br>
          <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, alias. Neque necessitatibus optio tempore quos vero! Esse explicabo eaque.</p><br>
          <p class="info-text-1">We speakers BC INK.</p><br>
          <p class="info-text">3944 WILKINSON RD. VICTORIA, BC V8Z 5A2</p>
          <iframe width="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.8261054706604!2d-75.69615088584266!3d4.799890242127464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38876a8a59ee67%3A0x4ae1d6ff11d60821!2sTerminal%20de%20Transporte%20de%20Pereira!5e0!3m2!1ses-419!2sco!4v1605734088139!5m2!1ses-419!2sco" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <p class="info-text-2">Phone: +571111100000</p>
          <p class="info-text">E-mail: info@wespeakes.com</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput2">Name and Username</label>
              <input type="text" class="form-control" placeholder="Valentina Robledo">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput3">Your Phone Number</label>
              <input type="text" class="form-control" placeholder="ej: 3135863061">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput4">Subject</label>
              <input type="text" class="form-control">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Your message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Lorem ipsum dolor sit, amet. Terms and conditions</label>
            </div>
            <div class="btn">
              <button class="btn-submit">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>